{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
          "modules": false
        },
        "browserify": {
          "transform": [["babelify", { "presets": ["@babel/preset-env"] }]]
        }
      }
    ]
  ]
}
